header {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: auto;
  position: fixed;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-bottom: 2px solid lightgrey;
  top: 0;
}

img {
  height: 50px;
  margin-left: 4px;
}

div.logo {
  flex-grow: 1;
}

nav li {
  display: inline-block;
}

nav button {
  text-decoration: none;
  color: black;
  font-size: 16px;
  text-align: center;
  border: none;
  padding: 15px 10px;
  background-color: white;
  transition-duration: 0.4s;
  border-radius: 2px;
  float: left;
  transition: all .5s ease-in-out;
}

nav .button:hover {
  background-color: yellow;
  transform: scale(1.1);
}
